<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ieee.workshop"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" 
                 android:icon="@drawable/icon">
        
	<activity android:name="Splash"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	<activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="ieee.workshop.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
	
	<activity android:name="Distance"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="ieee.workshop.DISTANCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

	<activity android:name="Weight"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="ieee.workshop.WEIGHT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest> 
